<div id="sidebar" class="sidebar" >
    <ul class="sidebar-menu">
        <li><a href="{% url 'homepage' %}">Home </li>
        <li><a href="{% url 'upload_csv' %}">Upload CSV </li>
        <li><a href="{% url 'barchart' %}">Histogram </a></li>
        <li><a href="{% url 'all_data' %}">Data table </a></li>
        <li><a href="{% url 'combined_pie_charts' %}">Pie Charts </a></li>
        <li><a href="{% url 'analyze_graph' %}">Graph </a></li>
        <li><a href="{% url 'google_form' %}">QR Code </a></li>
        <li><a href="{% url 'visualize_student_heatmap' %}">Heat Map </a></li>
    </ul>
</div>
